
p{
	font-family: helvetica;
	color: white;
	text-align: left;
}
h1{
	color: purple;
}
h2{
	color: purple;
}
body{
	background-color: black;
}
h1,h2 {
	text-align: center;
	font-size: 40px;
}
