th {
	color: blue;
	font-size: 35px;
	font-weight: bold;
    font-family: Arial;
	text-decoration: underline;
}
tr {
	color: black;
	font-size: 20px;
	font-family: TimesNewRoman;
	font-weight: bold;
	
}
body {
	text-align: center;
	display: block;
}
table {
	border-style: solid;
	border-color: black;
	table-layout: fixed;
}
p {
	color: black;
	font-size: 20px;
	font-weight: bold;
}
body {
}
h1 {
	color: black;
	font-size: 50px;
}
html { 
  background: url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Blue_water%2C_Lake_Tahoe.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.zoom {
  zoom: 150%;
}